@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'CrimsonPro';
  src: url('/fonts/CrimsonPro.ttf') format('truetype');
}

.mask-image {
  mask-image: radial-gradient(circle, white 90%, transparent 100%);
}