@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'CrimsonPro';
  src: url('/fonts/CrimsonPro.ttf') format('truetype');
}


.banner-fullwidth {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
